@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

.view-width {

    width: 390px;
    height: 180vh;
    /* border: 2px solid red; */
}

.swiper {
    width: 389px;
    height: 350px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-image {
    width: 390px;
    height: 350px;
    object-fit: contain;
    /* Makes sure images fit without distortion */
    /* border-radius: 10px; */
}

.swiper-slide::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    /* Adjust the height of the gradient */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
    pointer-events: none;
    /* Ensures the gradient doesn't interfere with interactions */
}


.title{
    height:400px;
    background-image: url("/Group 94.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width:390px;
    top:200px;
    z-index: 1;
}

.coupleName{
    width:10%;
    height:10%;
    border:2px solid red;
}

#couple{

    border:2px solid white;
    /* width:350px;
    height: 180px;
    position: absolute;
    top:32%;
    left:0%;
    z-index: 1; */
}

.who{
    color:white;
    text-align: center;
    margin-top:95px;
    position: absolute;
    top:36%;
    z-index: 1;
    font-size: 30px;
}

#and{
    font-size: 90px;
    /* position: relative; */
}

#wed-inn-svg{
    /* margin-top:40%; */
    /* position: absolute; */
    width:100%;
    height:100px;
    /* top:64%; */
    /* left:0%; */
    /* margin-bottom: -20px;; */
}

#info-pic{
    margin-top:300px;
    /* border:2px solid lime; */
    width:389px;
}


.text-info{
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text2{
text-align: right;
}

.more-info{
    font-size: 12px;
    font-weight: 100;
    font-family: "Jacques Francois", serif;
    font-weight: 200;
    font-style: normal;
}


.address{
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top:15px;
    line-height: 10px;
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
}

.count-down-block{
    color:white;
    text-align: center;
}

.countdown{
    color:gold;
    font-size: 28px;
    letter-spacing: 5px;;
}

h3{
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
}

button{
    background:linear-gradient(to right, gold, rgb(255, 157, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px 110px;
    border-radius:20px;
    border:1px solid gold;
    width:40%;
    height:5%;
}

.btn{
    border:1px solid gold;
    /* background-color: gold; */
    border:none;
    color: black;
    text-align: center;
    text-decoration: none;
    /* padding:5px; */

}

.frech{
    color:white;
    text-align: center;
    font-size: 11px;
}

@media (max-width: 360px) {
    .view-width {
        width: 100%;
        height: 220vh;

    }

    .swiper {
        width: 100%;
        height: auto;
    }

    .swiper-slide {
        flex-direction: column;
    }

    .slide-image {
        width: 100%;
        height: auto;
    }

    .title{
        height:400px;
        /* border:2px solid red; */
        /* background-image: url("/Group 94.svg"); */
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        width:374px;
        top:190px;
        z-index: 1;
    }

    .who {
        font-size: 24px;
        margin-top: 80px;
        top: 35%;
    }

    #and {
        font-size: 70px;
    }

    #wed-inn-svg {
        width: 50px;
        height: auto;
        top: 60%;
        /* border:2px solid red */
    }

    #info-pic {
        width: 99.9%;
        margin: 900px -1px 10px;
    }

    .text-info {
        flex-direction: column;
        text-align: center;
        margin:5px;
    }

    .more-info {
        font-size: 12px;
    }

    .text1{
        text-align: center;
    }

    .text2{
        margin-top:20px;
        text-align: center;
    }

    .head-text{
        font-size: 16px;
    }

    .address {
        font-size: 12px;
        /* color:red */
    }

    .countdown {
        font-size: 22px;
    }

    button {
        width: 60%;
        margin: 10px auto;
        height: 40px;
    }

    .frech {
        font-size: 10px;
    }
}


@media (max-width: 400px) {
    .view-width {
        width: 100%;
        height: 230vh;

    }

    .swiper {
        width: 100%;
        height: auto;
    }

    .swiper-slide {
        flex-direction: column;
    }

    .slide-image {
        width: 100%;
        height: auto;
    }

    .title{
        height:400px;
        /* border:2px solid red; */
        /* background-image: url("/Group 94.svg"); */
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        width:374px;
        top:400px;
        z-index: 1;
    }

    #couple {
        width: 90%;
        height: auto;
        top: 30%;
        left: 5%;
    }

    .who {
        font-size: 24px;
        margin-top: 80px;
        top: 35%;
    }

    #and {
        font-size: 70px;
    }

    #wed-inn-svg {
        width: 50px;
        height: auto;
        top: 60%;
        /* border:2px solid red */
    }

    #info-pic {
        width: 99.9%;
        margin: 550px -1px 10px;

    }

    .text-info {
        flex-direction: column;
        text-align: center;
        margin:5px;
    }

    .more-info {
        font-size: 12px;
    }

    .text1{
        text-align: center;
    }

    .text2{
        margin-top:20px;
        text-align: center;
    }

    .head-text{
        font-size: 16px;
    }

    .address {
        font-size: 12px;
        /* color:red */
    }

    .countdown {
        font-size: 22px;
    }

    button {
        width: 60%;
        margin: 10px auto;
        height: 40px;
    }

    .frech {
        font-size: 10px;
    }
}


